<footer>
    <div class="f-socials-links">
     <i class="fa-brands fa-square-facebook"></i>
     <i class="fa-brands fa-square-instagram"></i>
     <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-comapny-name">&copy;WanderLust Private Ltd.</div>
   <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
   </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>