<footer>
    <div class="f-socials-links">
     <a href="https://github.com/Sau152004" target="_blank"><i class="fa-brands fa-github"></i></a>
     <a href="https://www.instagram.com/ysaurabh0704/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
     <a href="https://www.linkedin.com/in/saurabh-yadav-44947625b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-comapny-name">&copy;WanderLust Private Ltd.</div>
   <div class="f-info-links">
        <a href="https://policies.google.com/privacy" target="_blank">Privacy</a>
        <a href="https://policies.google.com/terms?hl=en-US" target="_blank">Terms</a>
   </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>